<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>
 
 SQLAlchemy is a popular library in Python used for working with databases.

In [3]:
!pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.9)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [6]:
!pip install pandas

Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [7]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [18]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace',index=False,method="multi")
query = 'SELECT * FROM SPACEXTBL;'

# Execute the query using pandas read_sql_query() function
result = pd.read_sql_query(query, con)

# Print the content of the table
print(result)

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

           Date Time (UTC) Booster_Version   Launch_Site  \
0    2010-04-06   18:45:00  F9 v1.0  B0003   CCAFS LC-40
1    2010-08-12   15:43:00  F9 v1.0  B0004   CCAFS LC-40
2    2012-05-22   07:44:00  F9 v1.0  B0005   CCAFS LC-40
3    2012-08-10   00:35:00  F9 v1.0  B0006   CCAFS LC-40
4    2013-01-03   15:10:00  F9 v1.0  B0007   CCAFS LC-40
..          ...        ...             ...           ...
96   2020-05-11   23:24:23    F9 B5B1062.1  CCAFS SLC-40
97   2020-11-16   00:27:00   F9 B5B1061.1     KSC LC-39A
98   2020-11-21   17:17:08    F9 B5B1063.1   VAFB SLC-4E
99   2020-11-25   02:13:00  F9 B5 B1049.7   CCAFS SLC-40
100  2020-06-12   16:17:08  F9 B5 B1058.4     KSC LC-39A

                                               Payload  PAYLOAD_MASS__KG_  \
0                 Dragon Spacecraft Qualification Unit                  0
1    Dragon demo flight C1, two CubeSats, barrel of...                  0
2                                Dragon demo flight C2                525
3                                         SpaceX CRS-1                500
4                                         SpaceX CRS-2                677
..                                                 ...                ...
96                                 GPS III-04 , Crew-1               4311
97                Crew-1, Sentinel-6 Michael Freilich               12500
98      Sentinel-6 Michael Freilich, Starlink 15 v1.0                1192
99                     Starlink 15 v1.0, SpaceX CRS-21              15600
100                                      SpaceX CRS-21               2972

         Orbit                      Customer Mission_Outcome  \
0          LEO                        SpaceX         Success
1    LEO (ISS)               NASA (COTS) NRO         Success
2    LEO (ISS)                   NASA (COTS)         Success
3    LEO (ISS)                    NASA (CRS)         Success
4    LEO (ISS)                    NASA (CRS)         Success
..         ...                           ...             ...
96         MEO                          USSF         Success
97   LEO (ISS)                    NASA (CCP)         Success
98         LEO  NASA / NOAA / ESA / EUMETSAT         Success
99         LEO                        SpaceX         Success
100  LEO (ISS)                    NASA (CRS)         Success

         Landing_Outcome
0    Failure (parachute)
1    Failure (parachute)
2             No attempt
3             No attempt
4             No attempt
..                   ...
96               Success
97               Success
98               Success
99               Success
100              Success

[101 rows x 10 columns]

**Note:This below code is added to remove blank rows from table**

In [11]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: http://sqlalche.me/e/e3q8)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [20]:

query = 'SELECT DISTINCT Launch_Site FROM SPACEXTBL;'

# Execute the query using pandas read_sql_query() function
result = pd.read_sql_query(query, con)

# Print the content of the table
print(result)

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [83]:
query_2= '''SELECT Launch_Site FROM SPACEXTBL WHERE Launch_Site LIKE 'CCA%' LIMIT 5'''
result = pd.read_sql_query(query_2, con)

# Print the content of the table
print(result)

   Launch_Site
0  CCAFS LC-40
1  CCAFS LC-40
2  CCAFS LC-40
3  CCAFS LC-40
4  CCAFS LC-40

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [33]:
query_3 = '''
        SELECT SUM(PAYLOAD_MASS__KG_ ) AS Total_PayloadMass
        FROM SPACEXTBL
        WHERE Customer LIKE 'NASA (CRS)'
        '''
result = pd.read_sql_query(query_3, con)

# Print the content of the table
print(result)

   Total_PayloadMass
0              45596

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [35]:
query_4 = '''
        SELECT AVG(PAYLOAD_MASS__KG_ ) AS Average_PayloadMass
        FROM SPACEXTBL
        WHERE Booster_Version  LIKE 'F9 v1.1'
        '''
result = pd.read_sql_query(query_4, con)

# Print the content of the table
print(result)

   Average_PayloadMass
0               2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [39]:
query_5= '''
        SELECT MIN(Date) AS first_succesful_landing
        FROM SPACEXTBL
        WHERE Landing_Outcome  LIKE 'Success (ground pad)'
        '''
result = pd.read_sql_query(query_5, con)

# Print the content of the table
print(result)

  first_succesful_landing
0              2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [43]:
query_6 = '''
        SELECT Booster_Version
        FROM SPACEXTBL
        WHERE Landing_Outcome = 'Success (drone ship)'
            AND PAYLOAD_MASS__KG_  > 4000 
            AND PAYLOAD_MASS__KG_ < 6000
        '''
result = pd.read_sql_query(query_6, con)

# Print the content of the table
print(result)

  Booster_Version
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [48]:
query_7a = '''
        SELECT COUNT(Mission_Outcome) AS SuccessOutcome
        FROM SPACEXTBL
        WHERE Mission_Outcome LIKE 'Success%'
        '''

query_7b = '''
        SELECT COUNT(Mission_Outcome) AS FailureOutcome
        FROM SPACEXTBL
        WHERE Mission_Outcome LIKE 'Failure%'
        '''
        
result_1 = pd.read_sql_query(query_7a, con)
result_2 = pd.read_sql_query(query_7b, con)

# Print the content of the table
print(result_1)
print(result_2)

   SuccessOutcome
0             100
   FailureOutcome
0               1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [50]:
query_8 = '''
        SELECT Booster_Version,  PAYLOAD_MASS__KG_ 
        FROM SPACEXTBL
        WHERE PAYLOAD_MASS__KG_ = (
                                SELECT MAX( PAYLOAD_MASS__KG_ )
                                FROM  SPACEXTBL
                                )
        ORDER BY Booster_Version
        '''
result = pd.read_sql_query(query_8, con)

# Print the content of the table
print(result)

   Booster_Version  PAYLOAD_MASS__KG_
0    F9 B5 B1048.4              15600
1    F9 B5 B1048.5              15600
2    F9 B5 B1049.4              15600
3    F9 B5 B1049.5              15600
4   F9 B5 B1049.7               15600
5    F9 B5 B1051.3              15600
6    F9 B5 B1051.4              15600
7    F9 B5 B1051.6              15600
8    F9 B5 B1056.4              15600
9   F9 B5 B1058.3               15600
10  F9 B5 B1060.2               15600
11   F9 B5 B1060.3              15600

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [82]:
query_9 = '''
        SELECT
        substr(Date, 4, 2) AS Month,
        landing_Outcome AS Failure_Landing_Outcomes,
        Booster_Version AS Booster_Versions,
        Launch_Site AS Launch_Site
        FROM SPACEXTBL
        WHERE  SUBSTR(Date, 1, 4) = '2015' AND Landing_Outcome LIKE 'Failure (drone ship)' 
            '''
result = pd.read_sql_query(query_9, con)

# Print the content of the table
print(result)

  Month Failure_Landing_Outcomes Booster_Versions  Launch_Site
0    5-     Failure (drone ship)    F9 v1.1 B1012  CCAFS LC-40
1    5-     Failure (drone ship)    F9 v1.1 B1015  CCAFS LC-40

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [76]:
query_10 = '''
        SELECT Landing_Outcome, COUNT(Landing_Outcome)
        FROM SPACEXTBL
        WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20'
        GROUP BY Landing_Outcome
        ORDER BY COUNT(Landing_Outcome) DESC '''

result = pd.read_sql_query(query_10, con)

# Print the content of the table
print(result)

          Landing_Outcome  COUNT(Landing_Outcome)
0              No attempt                      10
1    Success (ground pad)                       5
2    Success (drone ship)                       5
3    Failure (drone ship)                       5
4      Controlled (ocean)                       3
5    Uncontrolled (ocean)                       2
6  Precluded (drone ship)                       1
7     Failure (parachute)                       1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>